<!DOCTYPE html>
<html>
<head>
	<title>Игра квест</title>
</head>
<body>
	<div>
		<h1>Игроки</h1>
	</div>
	<form action="/event" method="POST" class="gamer_list">
		<p>
			<b>Игрок 1</b><br>
			<input type="text" name="player1" value="{{content.player1.name}}"><br>
		</p>
		<p>
			<b>Игрок 2</b><br>
			<input type="text" name="player2" value="{{content.player2.name}}"><br>
		</p>
		<p>
			<b>Игрок 3</b><br>
			<input type="text" name="player3" value="{{content.player3.name}}"><br>
		</p>
		<p>
			<b>Игрок 4</b><br>
			<input type="text" name="player4" value="{{content.player4.name}}"><br>
		</p>
		<p>
			<b>Игрок 5</b><br>
			<input type="text" name="player5" value="{{content.player5.name}}"><br>
		</p>
		<p>
			<b>Игрок 6</b><br>
			<input type="text" name="player6" value="{{content.player6.name}}"><br>	
		</p>
		<p>
			<b>Игрок 7</b><br>
			<input type="text" name="player7" value="{{content.player7.name}}"><br>
		</p>
		<p>
			<b>Игрок 8</b><br>
			<input type="text" name="player8" value="{{content.player8.name}}"><br>
		</p>
		<p>
			<b>Игрок 9</b><br>
			<input type="text" name="player9" value="{{content.player9.name}}"><br>
		</p>
		<p>
			<b>Игрок 10</b><br>
			<input type="text" name="player10" value="{{content.player10.name}}"><br>
		</p>
		<p>
			<b>Игрок 11</b><br>
			<input type="text" name="player11" value="{{content.player11.name}}"><br>
		</p>
		<p>
			<b>Игрок 12</b><br>
			<input type="text" name="player12" value="{{content.player12.name}}"><br>
		</p>
		<p>
			<b>Игрок 13</b><br>
			<input type="text" name="player13" value="{{content.player13.name}}"><br>
		</p>
		<p>
			<b>Игрок 14</b><br>
			<input type="text" name="player14" value="{{content.player14.name}}"><br>
		</p>
		<p>
			<b>Игрок 15</b><br>
			<input type="text" name="player15" value="{{content.player15.name}}"><br>
		</p>
		<input type="submit" name="add_team" value="Создать команду">
		<input type="submit" name="clear_game" value="Сброс игры">
		<input type="reset" name="clear_form" value="Очистить">
	</form>
</body> 
</html>